@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #094546;
  --foreground: #f4ece7;
  --primary: #094546;
  --secondary: #f4ece7;
}

.container {
  max-width: 1180px;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
}

.bg-1{
  background: url('https://cdn.prod.website-files.com/5d2cb3382be6ba1741dc013c/64e0f41e6c35b16f4e8d92eb_Pattern%203.webp') 0 0 repeat;
  transform: rotate(30deg);
}
